VITE_LENDING_MODE=aave
VITE_THEME=blue
VITE_WALLETCONNECT_PROJECT_ID=demo
VITE_APP_NETWORK=arbitrum-sepolia
VITE_ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
VITE_E2E_INGEST_ENABLED=false
